.rank {
  margin: 0;
  padding: 0;
}

.rank-item {
  position: relative;
  background-color: white;
  padding: 15px;
  text-align: left;
  height: 60px;
  list-style: none;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  &:hover {
    background-color: $red;
    .subtitle {
      color: #272727;
    }
    .title {
      color: white;
    }
    .rank-image {
    	border-color: #fff;
    }
  }
  .rank-image {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    float: left;
    position: relative;
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    border: 5px solid $red;
  }
  .position {
    width: 25px;
    height: 25px;
    text-align: center;
    color: $gray_font;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    bottom: -10px;
    left: 40px;
    background-color: #f4f3f3;
    border-radius: 100px;
  }
  .title, .subtitle {
    margin: 0;
    margin-left: 80px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    color: $red;
    margin-top: 10px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  .subtitle {
    color: $gray_font;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
}

.even {
  background-color: $gray;
}

.first {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.last {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}