.rank {
  margin: 0;
  padding: 0;
}

.rank-item {
  position: relative;
  background-color: white;
  padding: 15px;
  text-align: left;
  height: 60px;
  list-style: none;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  &:hover {
    background-color: $red;
    .subtitle {
      color: #272727;
    }
    .title {
      color: white;
    }
    .rank-image {
    	border-color: #fff;
    }
  }
  .rank-image {
    width: 55px;
    height: 55px;
    @include cb(border-radius, 100px);
    float: left;
    position: absolute;
    border: 5px solid $red;
    overflow: hidden;
    background-position: center 10%;
    img {
      position: absolute;
      left: -12px;
      top: -3px;
    }
  }
  .position {
    width: 20px;
    height: 20px;
    text-align: center;
    color: $gray_font;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    bottom: 7px;
    left: 58px;
    background-color: #f4f3f3;
    border-radius: 100px;
    border: 1px solid $gray_font;
    line-height: 1.5;
  }
  .title, .subtitle {
    margin: 0;
    margin-left: 80px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    color: $red;
    margin-top: 10px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  .subtitle {
    color: $gray_font;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
}

.even {
  background-color: $gray;
}

.first {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.last {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}